In [79]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [4]:
driver.get("https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART")

In [5]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click() # click on 2 page
time.sleep(8)  # sleep code for 8 second

# again click on 1 page to get url with page=1 at the end, which is extract below
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[1]").click()

In [6]:
driver.current_url

'https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART&page=1'

In [7]:
# create empty list
ratings = []
reviews = []

for page in range(1, 151, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/hp-pavilion-gaming-ryzen-5-quad-core-3550h-8-gb-1-tb-hdd-windows-10-home-4-gb-graphics-nvidia-geforce-gtx-1650-15-ec0101ax-laptop/product-reviews/itma1af6bf593dc8?pid=COMFSFNVDXG74QXR&lid=LSTCOMFSFNVDXG74QXRY8FRH2&marketplace=FLIPKART&page=" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                                             
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

1499
1499

In [8]:
driver.close()

In [9]:
# make dataframe
df1 = pd.DataFrame({})
df1['Ratings'] = ratings
df1['Review'] = reviews
df1

     Ratings                                             Review
0          5  This is the best laptop in this range.I reciev...
1          5  Good product as used of now.... Everything is ...
2          5  AWESOME LAPTOP. It supports many high spec gam...
3          4  For that price... it's exceptionally good. Pla...
4          4  RAM upgrade is must do because the useable RAM...
...      ...                                                ...
1494       5                                          Excellent
1495       1                               Overall good product
1496       1  Waste of money. I want to buy a gaming laptop ...
1497       3  Overall decent laptop. Loud fans. Bootup time ...
1498       1  less Battery backup and after 15 days from dat...

[1499 rows x 2 columns]

In [39]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [40]:
driver.get("https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART")

In [41]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click() # click on 2 page
time.sleep(8)  # sleep code for 8 second

# again click on 1 page to get url with page=1 at the end, which is extract below
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[1]").click()

In [42]:
driver.current_url

'https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART&page=1'

In [44]:
# create empty list
ratings = []
reviews = []

for page in range(1, 151, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/samsung-galaxy-f22-denim-blue-64-gb/product-reviews/itmce0a6baf0d54d?pid=MOBG43UGBTGGB99V&lid=LSTMOBG43UGBTGGB99VLZACSD&marketplace=FLIPKART&page=1" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                                             
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

775
775

In [17]:
driver.close()

In [18]:
# make dataframe
df2 = pd.DataFrame({})
df2['Ratings'] = ratings
df2['Review'] = reviews
df2

    Ratings                                             Review
0         5                      Really a good phone love it..
1         5  Worth it for buy. You can also buy this\nVery ...
2         1  Not good phone. Mic is not working and flipkar...
3         4                                       Super mobile
4         4  Average experience. These phone is good. But t...
..      ...                                                ...
985       5                                    Excellent phone
986       5                                          Very nice
987       4                                             Superb
988       4                                       Good quality
989       5                                         Good phone

[990 rows x 2 columns]

In [32]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [33]:
driver.get("https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&marketplace=FLIPKART")

In [34]:
# click on negative filter first
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[1]/div[1]/div[2]/div/div/div/div/select/option[4]").click()

In [35]:
time.sleep(8)  # sleep code for 8 second

# click on page no.- 2
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]").click() 

# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST'

In [36]:
# create empty list
ratings = []
reviews = []

for page in range(1, 451, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/realme-narzo-20-glory-silver-64-gb/product-reviews/itm4ac58d879006d?pid=MOBFVEATBBRGJBKH&lid=LSTMOBFVEATBBRGJBKH4OKPVI&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")                                  
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                            
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

4486
4486

In [37]:
# make dataframe
df3 = pd.DataFrame({})
df3['Ratings'] = ratings
df3['Review'] = reviews
df3

     Ratings                                             Review
0          1  The wrost product I ever used. because\nno aut...
1          1                                               Good
2          1  waste of money the sound quality to bad also w...
3          1  Don't buy mobiles in Flipkart. I have received...
4          1  Display quality is bad.\nSignal issue. Issue i...
...      ...                                                ...
4481       3  Overall phone is good but the worst part is di...
4482       3            Okok mobile ...not that much impressive
4483       3                         Nice look And Nice product
4484       3                                               Good
4485       3                        It is well worth the price.

[4486 rows x 2 columns]

In [45]:
driver.close()

In [55]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [56]:
driver.get("https://www.myntra.com/reviews/2004043")

In [57]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [58]:
# create empty list
ratings = []
reviews = []

rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

1957
1957

In [59]:
# make dataframe
df4 = pd.DataFrame({})
df4['Ratings'] = ratings
df4['Review'] = reviews
df4

     Ratings                                             Review
0          4  As a show of pic on myntra display same as phy...
1          4  Flipkart delivered it early and packing is goo...
2          4  It completes all the bass needs But sound beco...
3          4  The product is awful, it worked to well with g...
4          5  Really awesome sounds quality 👌...and bass lov...
...      ...                                                ...
1952       1                                            Not gud
1953       1                                               Jeck
1954       1                                           Very bad
1955       1                                            Useless
1956       1                                    Thanks myntra 👍

[1957 rows x 2 columns]

In [60]:
driver.close()

In [61]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [62]:
driver.get("https://www.myntra.com/reviews/9928205")

In [63]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [64]:
# create empty list
ratings = []
reviews = []

rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

2518
2518

In [65]:
# make dataframe
df5 = pd.DataFrame({})
df5['Ratings'] = ratings
df5['Review'] = reviews
df5

     Ratings                                             Review
0          1  I got damaged product and also not working pro...
1          1  Worst product i have seen. Now i understood wh...
2          1  I buy this earphone by reading reviews on mynt...
3          1  The product is not working properly. It's just...
4          1  Atfirst it's looks is nice but it's sound was ...
...      ...                                                ...
2513       1                                           Not good
2514       1                                           Not good
2515       1                                                bad
2516       1                                                Bad
2517       1                                        Bad Product

[2518 rows x 2 columns]

In [67]:
driver.get("https://www.myntra.com/reviews/13471916")

In [69]:
# scroll down page till last

SCROLL_PAUSE_TIME = 1

# Get scroll height 
last_height = driver.execute_script("return document.body.scrollHeight")

while True: 
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page 

    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height

    new_height = driver.execute_script("return document.body.scrollHeight")

    if new_height == last_height:

        break

    last_height = new_height

In [70]:
# create empty list
ratings = []
reviews = []

rating_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[1]/span")    
review_ = driver.find_elements_by_xpath("//*[@id='detailedReviewsContainer']/div/div[1]/div[2]")

for i in rating_:
    ratings.append(i.text)
for k in review_:
    reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

2066
2066

In [71]:
# make dataframe
df6 = pd.DataFrame({})
df6['Ratings'] = ratings
df6['Review'] = reviews
df6

     Ratings                                             Review
0          1  Worest product for ever Everything it is showi...
1          1  This product keeps track of fitness data if th...
2          1  I will not recommend to buy this product. Its ...
3          1                Connectivity with phone is very bad
4          1  Worst product.. basic feature like call notifi...
...      ...                                                ...
2061       1                                          OTP issue
2062       1                              This product is waist
2063       2       Quality of this product is not satisfactory.
2064       1                               Not worth , avoid it
2065       1                             Not just like expected

[2066 rows x 2 columns]

In [73]:
driver.close()

In [74]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [75]:
driver.get("https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")

In [77]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click() 

# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_getr_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [80]:
# create empty list
ratings = []
reviews = []

for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Canon-1500D-Digital-Camera-S18-55/product-reviews/B07BS4TJ43/ref=cm_cr_getr_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

3000
3000

In [81]:
# make dataframe
df7 = pd.DataFrame({})
df7['Ratings'] = ratings
df7['Review'] = reviews
df7

     Ratings                                             Review
0        2.0  \n\n  Ok the DSLR Giant Canon have launched 1 ...
1        5.0               \n\n  Good camera for beginners.\n\n
2        5.0  \n\n  Great camera. Perfect product for young ...
3        5.0  \n\n  Really impressed with Amazon surprise fo...
4        1.0  \n\n  You are on your own if you buy this prod...
...      ...                                                ...
2995     5.0  \n\n  Picture quality is very good if used in ...
2996     4.0  \n\n  Canon 1500D is a good beginner's camera....
2997     4.0  \n\n  Easy to use and handle, handy grip, smoo...
2998     5.0  \n\n  I bought it for 20,000/- during Diwali s...
2999     5.0  \n\n  All out there looking for new DSLR camer...

[3000 rows x 2 columns]

In [105]:
driver.get("https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")

In [106]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click() 

# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [107]:
# create empty list
ratings = []
reviews = []

for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

3000
3000

In [108]:
# make dataframe
df8 = pd.DataFrame({})
df8['Ratings'] = ratings
df8['Review'] = reviews
df8

     Ratings                                             Review
0        5.0  \n\n\n\n\n                    The media could ...
1        5.0  \n\n  Worth for money product.I am writing thi...
2        3.0  \n\n  Given wrong serial number. So installati...
3        1.0  \n\n  Pathetic product  Never buy it.Picture i...
4        1.0  \n\n\n\n\n                    The media could ...
...      ...                                                ...
2995     4.0                        \n\n  Good Nice product\n\n
2996     5.0                          \n\n  Awosome product\n\n
2997     1.0                                      \n\n  bad\n\n
2998     5.0                               \n\n  Looks good\n\n
2999     1.0                       \n\n  Bad sounds quality\n\n

[3000 rows x 2 columns]

In [109]:
driver.get("https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews")

In [95]:
# click on next page
driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click() 
      
# extract page no.-2 url for apply loop of all pages
driver.current_url

'https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2'

In [96]:
# create empty list
ratings = []
reviews = []

for page in range(1, 301, 1):
    # below url take from the above code result
    page_url = "https://www.amazon.in/Canon-MG2577s-Inkjet-Colour-Printer/product-reviews/B01EJ5MM5M/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=" + str(page)
    driver.get(page_url)
    
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    
    rating_ = soup.find_all('i',attrs={'data-hook':'review-star-rating'})    
    review_ = soup.find_all('span',attrs={'class':'a-size-base review-text review-text-content'})    
                            
    
    for i in rating_:
        ratings.append(i.text.replace(" out of 5 stars",""))
        
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

3000
3000

In [97]:
# make dataframe
df9 = pd.DataFrame({})
df9['Ratings'] = ratings
df9['Review'] = reviews
df9

     Ratings                                             Review
0        1.0  \n\n  its only  print 3 to 4 page properly the...
1        1.0  \n\n  Printer came damaged,While installing it...
2        3.0  \n\n  It is good only for plain paper printing...
3        3.0  \n\n  Prints 500 rs notes properly but 2000 rs...
4        1.0  \n\n  Got a defective piece. Very bad packagin...
...      ...                                                ...
2995     1.0                                    \n\n  Waste\n\n
2996     5.0                                \n\n  Excellent\n\n
2997     5.0                         \n\n  Very good prints\n\n
2998     4.0           \n\n  Print cartridges are very poor\n\n
2999     3.0           \n\n  Not bad accordung to the price\n\n

[3000 rows x 2 columns]

In [111]:
driver.get("https://www.flipkart.com/zebronics-zeb-feel-4-60-w-bluetooth-home-theatre/product-reviews/itm128ec17e63fbe?pid=ACCFF6XGWJ5SXYGQ&lid=LSTACCFF6XGWJ5SXYGQUCXMJ9&marketplace=FLIPKART")

In [112]:
# click on negative filter first
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div[1]/div[1]/div[2]/div/div/div/div/select/option[4]").click()

In [113]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]").click() # click on 2 page
time.sleep(8)  # sleep code for 8 second

# again click on 1 page to get url with page=1 at the end, which is extract below
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[1]").click()

In [114]:
driver.current_url

'https://www.flipkart.com/zebronics-zeb-feel-4-60-w-bluetooth-home-theatre/product-reviews/itm128ec17e63fbe?pid=ACCFF6XGWJ5SXYGQ&lid=LSTACCFF6XGWJ5SXYGQUCXMJ9&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=1'

In [115]:
# create empty list
ratings = []
reviews = []

for page in range(1, 151, 1):
    # below url take from the above code result
    page_url = "https://www.flipkart.com/zebronics-zeb-feel-4-60-w-bluetooth-home-theatre/product-reviews/itm128ec17e63fbe?pid=ACCFF6XGWJ5SXYGQ&lid=LSTACCFF6XGWJ5SXYGQUCXMJ9&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=" + str(page)
    driver.get(page_url)
    rating_ = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    review_ = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")
                                             
    for i in rating_:
        ratings.append(i.text)
    for k in review_:
        reviews.append(k.text)

#printing the length of lists
print(len(ratings))
print(len(reviews))

1367
1367

In [116]:
# make dataframe
df10 = pd.DataFrame({})
df10['Ratings'] = ratings
df10['Review'] = reviews
df10

     Ratings                                             Review
0          1                Remote control not working properly
1          1  low sound don't buy west money not return this...
2          1                               not working properly
3          1  Worst product..... Stop working in just 3 mont...
4          1  bass is not available after 1 month . bad product
...      ...                                                ...
1362       4  Volume is not large but quality is best better...
1363       4                                          thank you
1364       4                               Better at this price
1365       4                                       Nice product
1366       4  Awosome device but sound is little low but awo...

[1367 rows x 2 columns]

In [117]:
# merge all dataframes reviews and ratings
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10], ignore_index=True)
df

      Ratings                                             Review
0           5  This is the best laptop in this range.I reciev...
1           5  Good product as used of now.... Everything is ...
2           5  AWESOME LAPTOP. It supports many high spec gam...
3           4  For that price... it's exceptionally good. Pla...
4           4  RAM upgrade is must do because the useable RAM...
...       ...                                                ...
23878       4  Volume is not large but quality is best better...
23879       4                                          thank you
23880       4                               Better at this price
23881       4                                       Nice product
23882       4  Awosome device but sound is little low but awo...

[23883 rows x 2 columns]

In [118]:
# save data in excel format
df.to_excel("rating_data.xlsx")

In [119]:
#Save data in csv format
df.to_csv("rating_prediction.csv")